body{
          margin:0;
          font-family:Arial,Helvetica,sans-serif;
      }
  
#topbar{
          background-color:#7A0000;
          width:100%;
          height:46px;
          color:white;
      }
      
.fixedwidth{
          width:1150px;
          margin:0 auto;
      }
      
#logodiv{
          padding-top:15px;
          float:left;
          border-right:1px solid #990000;
          padding-right:46px;
          padding-left:46px;
      }
      
#signindiv{
          font-weight:bold;
          font-size:.9em;
          padding:6px 80px 10px 20px;
          float:left;
          border-right:1px solid #990000;
      }
      
#signindiv img{
          position:relative;
          top:3px;
      }
      
#topmenudiv{
          float:left;
      }
      
#topmenudiv ul{
          margin:0;
          padding:0;
      }
      
#topmenudiv li{
          list-style:none;
          font-weight:bold;
          font-size:.9em;
          border-right:1px solid #990000;
          height:100%;
          padding:20px 20px 10px 20px;
          float:left;
      }
      
#searchdiv{
          float:left;
          padding:8px 0 0 10px;
      }
      
#searchdiv input{
          height:25px;
          border:none;
          padding:3px 0 3px 10px;
          font-size:1.2em;
          background-image:url("images/magnify.png");
          background-repeat:no-repeat;
          background-position:right center;
      }
      
.break{
          clear:both;
      }
      
#newsbar{
          background-color:#990000;
          width:100%;
          height:90px;
          color:white;
      }
      
#newsbar p{
          margin:0;
          padding:0;
          padding-top:10px;
          float:left;
          
      }
      
#newsheader{
          font-size:3em;
      }
      
#uk{
          font-size:.5em;
          padding-left:10px;
      }
      
#rss{
          float:right;
          margin-top:40px;
      }
      
#rss img{
          height:14px;
      }
      
#topicmenu{
          
      }
      
#topicmenu ul{
          background-color:#3E0C0D;
          padding:5px 0 0 5px;
          margin:0;
          height:20px;
          width:900px;
      }
      
#topicmenu li{
          list-style:none;
          font-size:.8em;
          border-right:1px solid #990000;
          float:left;
          background-color:none;
          padding:0px 6px 0px 6px;
      }
      
.selected{
          background-color:#EDEDED;
          color:#666666;
          height:20px;
          position:relative;
          top:-4px;
          padding-top:4px !important;
      }
      
#content{
          width:100%;
          color:#535353;
          font-size:.75em;
      }
      
#content img{
          width:400px;
      }
      
.date{
          font-weight:bold;
      }
      
h1{
          color:#1F4F82;
          font-size:2.5em;
      }
      
.headlineimage{
          float:left;
      }
      
.newsitem{
          position:relative;
          left:10px;
          top:-15px;
          width:280px;
          float:left;
          font-size:1.1em;
      }
      
.newsitem a{
          color:#1F4F82;
          text-decoration:none;
      }
      
.newsitem a:hover{
          text-decoration:underline;
      }
      
.links{
          position:relative;
          top:20px;
          line-height:.9em;
      }
      
#watchlisten{
          background-color:#EEEEEE;
          float:right;
          width:380px;
          position:relative;
          top:-80px;
      }
      
h2{
          color:#505050;
          margin:10px 0 10px 10px;
          font-size:1.8em;
      }